/* Common Styles */

body {
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.hide {
    display: none;
}

.show {
    display: block;
}

